{
  "extends": "@mate-academy/eslint-config",
  "env": {
    "jest": true
  },
  "rules": {
    "no-proto": 0
  },
  "plugins": ["jest"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  }
}
