:root {
  --cream: #696D7D; /* Use the dark gray as the base color now */
  --light-green: #68B0AB; /* Swap teal and light green */
  --light-teal: #C8D5B9; /* Swap light teal and light green */
  --teal: #8FC0A9; /* Swap teal and light teal */
  --white: #ffffff; /* Use the cream color for text */
}

html {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

body {
  background: linear-gradient(135deg, var(--light-green) 0%, var(--light-teal) 100%);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100dvh;
  margin: 0;
  padding-inline: 20px;
  text-align: center;
}

.header {
  color: var(--cream);
  margin-bottom: 20px;
}

.description {
  margin-bottom: 30px;
  color: var(--white);
  font-size: 18px;
  max-width: 600px;
}

.form-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  width: 100%;
  max-width: 500px;
}

input[type="file"] {
  opacity: 0;
  pointer-events: none;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

input[type="file"] + label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;

  height: 50px;
  background-color: var(--cream);
  color: var(--white);
  border: 2px solid var(--teal);
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  padding-inline: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

input[type="file"]:disabled + label {
  opacity: 0.6;
  pointer-events: none;
  cursor: not-allowed;
}

input[type="file"] + label:hover {
  background-color: var(--light-teal);
  color: var(--cream);
}

.form-group {
  border: none;
  position: relative;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  color: var(--teal);
}

input[type="file"], select {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  padding: 12px;
  border: 2px solid var(--teal);
  background-color: var(--cream);
  border-radius: 5px;
  cursor: pointer;
  color: var(--white);
  outline: none;
  font-weight: 500;
  font-size: 16px;
}

.submit-btn {
  background-color: var(--teal);
  color: var(--white);
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s ease;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.submit-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.submit-btn:disabled:hover {
  color: var(--white);
  background-color: var(--teal);
}

.submit-btn:hover {
  color: var(--cream);
  background-color: var(--light-teal);
}

.progress-bar-container {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--white);
}

.progress-bar {
  width: 0;
  height: 20px;
  background-color: var(--cream);
  transition: width 0.4s ease;
}

.progress-bar-show {
  display: block;
}

  @keyframes show-error {
    from {
      transform: translateY(-200%);
    }
    to {
      transform: translateY(0)
    }
  }

.error-popup {
  box-sizing: border-box;
  animation: 0.3s forwards show-error;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 20vw;
  aspect-ratio: 7 / 2;
  background-color: rgba(255, 72, 72, 0.885);
  border: none;
  color: var(--white);
  padding: 22px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  font-size: 12px;
  font-weight: 500;
  overflow: auto;
}

.close-error-btn {
  position: absolute;
  top: 6px;
  right: 6px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 20px;
  height: 20px;
  aspect-ratio: 1;
  border: none;
  background-color: transparent;
  font-size: 22px;
  color: var(--white);
}

.close-error-btn:hover {
  opacity: 0.7;
  cursor: pointer;
}

.error-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  position: fixed;
  top: 10px;
  right: 10px;
}

