body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
}

#compressionForm {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
